ul.unliv 
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a.linkv:link, a.linkv:visited 
{
	display: block;
	width: 196px;
	color: black;
	font-size: 15px;
	background-color: #f3f3f3;
	text-align: left;
	padding: 4px;
	padding-left:20px;
	text-decoration: none;
}
a.linkv:hover, a.lielv:active 
{
	background-color: #cccccc;
	font-size: 17px;
	font-weight: bold;
}