ul
{
	list-style-type: none;
}
a
{
	text-decoration: none;
}
ul.unliv 
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a.linkv:link, a.linkv:visited 
{
	display: block;
	width: 196px;
	color: black;
	font-size: 15px;
	background-color: #f3f3f3;
	text-align: left;
	padding: 4px;
	padding-left:20px;
	text-decoration: none;
}
a.linkv:hover, a.lielv:active 
{
	background-color: #cccccc;
	font-size: 17px;
	font-weight: bold;
}

ul.ulh
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li.lih 
{
	float: left;
}
a.linkh:link, a.linkh:visited 
{
	display: block;
	width: 160px;
	font-weight: bold;
	color: white;
	padding: 4px;
	background-color: #0072c6;
	text-align: center;

	text-decoration: none;
	text-transform: uppercase;
}
a.linkh:hover, a.linkh:active 
{
	background-color: #005798;
}
td, tr
{
	border-color:#E0E0E0;
}
.content 
{
	
	border-top:5px solid #0072c6;
	border-bottom:5px solid #0072c6;
	border-right:1px solid #0072c6;
	border-left:1px solid #0072c6;
}
th
{
	background-color:#a9d0f5;
	text-align: center;
}